.jumbotron {
    padding-top: 6rem;
    background-color: #e2edff;
}

#projects {
    background-color: #e2edff;
}

section {
    scroll-margin-top: 80px;
}

.gallery-im {
    width: 100%;
}

#gallery .row > * {
    padding: 0;
}
