.jumbotron {
    padding-top: 6rem;
    background-color: #e2edff;
}

#projects {
    background-color: #e2edff;
}

#gallery {
    background-color: #e2edff;
}

section {
    scroll-margin-top: 80px;
}

.gallery-im {
    width: 100%;
}

#gallery .row > * {
    padding: 0;
}

/* Avatar Section */
.avatar-box {
    position: relative;
    background-color: #0d6efd;
    border-radius: 10px;
    height: 500px;
    transform-style: preserve-3d;
}

.avatar-box::before {
    content: 'MY';
    position: absolute;
    color: #fff;
    font-size: 4.5em;
    font-weight: bold;
    font-style: italic;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: 0.5s;
}

.avatar-box:hover::before {
    opacity: 0.2;
}

.avatar-box::after {
    content: 'AVATARZ';
    position: absolute;
    color: #fff;
    font-size: 4.5em;
    font-weight: bold;
    font-style: italic;
    top: 350px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: 0.5s;
}

.avatar-box:hover::after {
    opacity: 0.2;
}

.avatar-name {
    position: absolute;
    top: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 2em;
    opacity: 0;
    transform: translate3d(0, 0, 50px);
    transition: 0.5s;
}

.avatar-box:hover .avatar-name {
    top: 20px;
    opacity: 1;
}

.avatar-detail-button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 50px);
    opacity: 0;
    transition: 0.5s;
}

.avatar-box:hover .avatar-detail-button {
    opacity: 1;
    bottom: 20px;
}

.avatar-img {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate3d(-50%, -50%, 100px);
    max-width: 500px;
    transition: 0.5s;
    z-index: 10;
}

.avatar-box:hover .avatar-img {
    transform: translate3d(-50%, -50%, 100px) scale(1.2);
}
